.grid {
  figure {
    padding: 5px 0;
  }
  i {
    font-size: 45px;
  }
}
@media all and (min-width: $tablet) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    figure {
      padding: 5px;
    }

    .small {
      grid-column: span 2;
    }

    .big {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
}
