.page.front {
  section.hero {
    background-image: url(/images/hero2.jpg);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;

    h2 {
      padding: 0;
      border: none;

      align-self: flex-end;
      font-family: Annabel1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 1rem;
      font-size: 1.1rem;
      letter-spacing: 0.25rem;
      text-shadow: 0px 0px 15px #ffd7c7;
    }

    h1 {
      margin-top: -12rem;
    }

  }
}

.hero.is-primary {
  background-color: $dark;
}

.hero {
  h1 {
    font-family: Annabel1;
    color: #fffbed;
    font-size: 2.7rem;
    letter-spacing: 0.35rem;
    text-shadow: 0px 0px 40px #ffd7c7;
    padding-left: 40px;

    text-align: center;
    line-height: 1.6;

    @media all and (min-width: $tablet) {
      text-align: left;
    }
  }
}