.image-wrapper {
  line-height: 0;
  img {
    border-radius: 5px;
  }
  a {
    position: relative;
    display: block;
  }
  .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFF;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  a {
    &:hover, &:focus {
      .bg {
        opacity: 0.5;
      }
      .icon {
        opacity: 0.5;
      }
    }
  }
}