.social {
  position: fixed;

  bottom: -1px;
  top: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;

  @media all and (max-width: 400px) {
    ul li {
      display: inline-block;
      margin-left: -5px;
      vertical-align: middle;
      padding: 0;
      width: 16.9%;
    }
  }

  @media all and (min-width: $desktop) {
    top: 50%;
    right: -1px;
    transform: translate(0, -50%);
    z-index: 10;
    bottom: auto;
    left: auto;
  }

  ul li {
    display: inline-block;
    margin-left: -5px;
    vertical-align: middle;

    @media all and (min-width: $desktop) {
      display: block;
      margin-left: 0;
      margin: 0;
      padding: 0;
      width: auto;
    }
  }

  a {
    height: 64px;
    width: 64px;
    position: relative;
    border: 1px solid #696969;
    box-shadow: 0px 0px 10px #ffffff;
    color: #000;
    background: transparent;
    text-shadow: 0px 0px 10px #ffffff;
    transition: background 0.3s ease, color 0.3s ease;

    .bg {
      opacity: 0.5;
    }

    i {
      position: relative;
    }

    &:hover, &:focus {
      .bg {
        opacity: 0;
      }
    }
  }

  a.facebook {
    &:hover, &:focus {
      background: #3b5998;
      color: #FFF;
    }
  }
  a.twitter {
    &:hover, &:focus {
      background: #1da1f2;
      color: #FFF;
    }
  }
  a.spotify {
    &:hover, &:focus {
      background: #1db954;
      color: #FFF;
    }
  }
  a.soundcloud {
    &:hover, &:focus {
      background: #ff8800;
      color: #FFF;
    }
  }
  a.instagram {
    &:hover, &:focus {
      background: #405de6;
      color: #FFF;
    }
  }
  a.apple {
    &:hover, &:focus {
      background: #d6d6d6;
      color: #FFF;
    }
  }


  ul li:nth-child(1) a,
  ul li:nth-child(2) a,
  ul li:nth-child(3) a,
  ul li:nth-child(4) a,
  ul li:nth-child(5) a {
    border-bottom: none;
  }

  ul li:nth-child(1) a {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
  }
  ul li:nth-child(6) a {
    @media all and (max-width: 400px) {
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
    }
    
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;

    @media all and (min-width: $desktop) {
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-left-radius: 5px;

      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topright: 0;
      border-top-right-radius: 0;
    }
  }
}